*{
	margin: 0;
	padding: 0;
	font-family: helvetica;
}
section{
	text-align: center;
}
body{
	min-width: 1000px;
}
body > div{
	text-align: center;
	margin: 50px 100px;
	padding: 20px 0;
	background-color: #eee;
}
a{
	text-decoration: none;
}
header{
	position: sticky;
	top: 0;
	background-color: #0059b3;
	-moz-box-shadow: 0 6px 15px #fff;
	-webkit-box-shadow: 0 6px 15px #fff;
	box-shadow: 0 6px 15px #fff;
}
h1{
	display: inline-block;
	color: #fff;
	font-size: 1.5em;
	padding: 15px 25px;
}
h2{
	color: #444;
	font-size: 1.2em;
	margin-bottom: 20px;
}
nav{
	float: right;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
}
nav a{
	display: inline-block;
	margin: 10px 5px 0 5px;
	padding: 10px 10px 20px 10px;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 0.3em 0.3em 0 0;
	-moz-border-radius: 0.3em 0.3em 0 0;
	border-radius: 0.3em 0.3em 0 0;
}
nav a:hover{
	color: #333;
	background-color: #eee;
}
footer a{
	text-decoration: none;
}
.tabSelec{
	background-color: #fff;
	color: #333;
}
.limpiador{
	clear: both;
}
.boton{
	font-size: 1em;
	background-color: #ffd633;
	padding: 0.8em;
	height: inherit;
	color: #333;
	border: 1px solid #777;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-moz-box-shadow: 1px 1px 4px #555;
	-webkit-box-shadow: 1px 1px 4px #555;
	box-shadow: 1px 1px 4px #555;
}
.boton:hover{
	cursor: pointer;
	background-color:  #ffe066;
}
form, .resultados{
	font-size: 1em;
	margin: 1% calc(20% - 4px);
	padding: 1% 5%;
	width: 50%;
	background-color: #eee;
	text-align: left;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #bbb;
}
.resultados{
	margin-bottom: 8em;
}
footer{
	text-align: right;
	position: fixed;
	bottom: 0;
	width: 98%;
	padding: 1%;
	background-color: #fff;
	-moz-box-shadow: 1px -5px 5px #fff;
	-webkit-box-shadow: 1px -5px 5px #fff;
	box-shadow: 1px -5px 5px #fff;
}
footer form{
	border-radius: 0px;
	border: none;
	margin: 0;
	background-color: #fff;
	padding: 0;
}
footer input, p, form{
	display: inline-block;
}
footer input{
	border: none;
	color: #f33;
	background-color: #fff;
}
footer input:hover{
	cursor: pointer;
	color: #f66;
}
footer a{
	color: #f80;
}
footer a:hover{
	color: #fa0;
}
input, textarea{
	display: inline-block;
	margin: 6px 0;
	height: 1.4em;
	font-size: 1em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	border: 2px solid #bbb;
}
input[type="radio"]{
	cursor: pointer;
	display: inline-block;
	height: 0.9em;
	z-index: 0;
}
label{
	display: inline-block;
	margin: 8px 0;
}
textarea{
	min-height: 10em;
	max-height: 20em;
	min-width: 20em;
	max-width: 30em;
}
@media (orientation:portrait){
	form, .resultados{
		margin: 2%;
		width: inherit;
		display: block;
	}
	.resultados{
		margin-bottom: 7em;
	}
	body{
		font-size: 2.5em;
	}
	header{
		text-align: center;
		position: inherit;
	}
	nav{
		float: none;
		padding-top: 1em;
	}
	input[type="radio"]{
		-ms-transform: scale(3);
    	-webkit-transform: scale(3); 
    	transform: scale(3);
    	margin: 0.5em;
	}
}