input, textarea{
	display: inline-block;
	margin: 6px 0;
	height: 1.2em;
	font-size: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #bbb;
}
span{
	height: 12px;
	font-size: 0.8em;
}
