section{
	text-align: center;
}
form{
	font-size: 1em;
	margin: 1% calc(20% - 4px);
	padding: 1% 5%;
	width: 50%;
	background-color: #eee;
	text-align: left;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #bbb;
}
input, textarea{
	display: inline-block;
	margin: 6px 0;
	height: 1.2em;
	font-size: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #bbb;
}
label{
	display: inline-block;
	margin: 8px 0;
}
textarea{
	min-height: 100px;
	min-width: 200px;
	max-height: 300px;
	max-width: 600px;
}
input[type="radio"]{
	cursor: pointer;
	display: inline-block;
	height: 0.9em;
}
#inicioSesion{
	float: right;
	margin: 10px 20px;
}
span{
	height: 12px;
	font-size: 0.8em;
}

@media (orientation:portrait){
	#nuevaDenunciaPnc{
		margin: 0;
		width: inherit;
		display: block;
	}
	h1{
		display: block;
	}
	body{
		font-size: 40px;
	}
}